//! **************************************************************************
// Written by: Map P.20131013 on Sat May 07 06:35:09 2022
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

